.login-button{
  display: flex;
  justify-content: end; 
  margin: 20px;
  cursor: pointer;
  padding: 5px;
}

.login-text{
  padding-left:8px;
}

.nav-logo {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin-top: 10px;
}

.menu-list li a{
  padding: 12px;
  text-decoration: none;
  color: black;
}

.menu-area{
  display: flex;
  justify-content: center;  
}

.search-input {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}

.search-input input{
  border: none;
  margin-left: 5px;
}

.search-input input:focus {
  outline:none;
}

.card{
  border:none !important;
  margin-bottom: 10px;
}

.card:hover{
  transform: scale(1.05);
  z-index: 1;
  transition: 0.3s;
}

.product-img{
  display: flex;
  justify-content: end;
}

#dropdown-basic {
  margin-top: 5px;
  border: 1px solid black;
}

#dropdown-basic:hover{
  color: white;
  background-color: black;
}

.add-button{
  color: white;
  display: inline-block;
  width: 200px;
  background-color: black;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}